{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'footer.css' %}">
</head>
<body>

<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>About Us</h2>
            <p>Your Rental Site is dedicated to helping you find the perfect rental for your needs. Browse our listings
                and make your booking today!</p>
        </div>

        <div class="footer-section contact">
            <h2>Contact Us</h2>
            <p>Email: Amazingrental@WAP.com</p>
            <p>Phone: +0 123-456-789</p>
        </div>

        <div class="footer-section social">
            <h2>Follow Us</h2>
            <p>Stay connected on social media:</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/" target="https://www.facebook.com/" title="Facebook"><img
                        src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook"></a>
                <a href="https://www.x.com/" target="_blank" title="Twitter"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png"
                        alt="Twitter"></a>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 WAP Rental. All rights reserved.</p>
    </div>
</footer>

</body>
</html>